body{
    text-align: center;
    background-color: aquamarine;
    background-image: url(imgs/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contenedor{
    width: 600px;
    height: 430px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    font-style: oblique;
    
    
}
